<h1>Замовити нову послугу. Вибір дати може здійснюватися тільки за наявності вільного часу. Це означає що варто створити можель де можна буде вибрати вільний час</h1>

<%= form_for [@cto,@order] do |ord| %>

    <p>
      <%= ord.label :plannedDate %><br>

      <%= ord.datetime_select :plannedDate %>
    </p>

    <p>

      <%= ord.label :selectedService %><br>
      <%= ord.select(:service, options_for_select(@services.map{|s| [s.description,s.id]}, @selectedService)) %>
    </p>

    <p>
       <%= label_tag(:selectedTime) %><br>
        <%= select_tag(:selectedTime, options_for_select(@events.map{|s| [s.start,s.start]}, @selectedTime)) %>
    </p>

    <p>
      <%= ord.submit :class => 'btn btn-lg btn-success' %>
    </p>
<% end %>


