
<!-- TODO: Create role dependent page that allows to show links that depends on role.-->
<%= link_to 'Створити нове СТО', new_cto_path %>|<a href="#">Переглянути поточні замовлення</a>



<form role="form">
<div class="panel panel-default LVSSearchPanel">
  <div class="panel-heading">Пошук Автомобільних сервісів за критеріями</div>


 <div class="LVSCarServiceDirections">
   <div class="LVSSearchFormHeader">Типи сервісів</div>
   <div class="LVSSearchTreeMenuItem">Мийки</div>
   <div class="LVSSearchTreeMenuItem">СТО</div>
  <div class="LVSSearchTreeMenuItem"> Магазини по продажу запчастик</div>
 </div>


 <div class="LVSSearchFormHeader">Доступність</div>


  <!--TODO put car producers into db or separate file -->
  <div class="LVSCarTypes">
    <div class="LVSSearchFormHeader">Всі марки</div>
    <% @carBrends.each do |brend| %>
        <div class="checkbox LVSSearchTreeMenuItem">
          <label>
            <input type="checkbox" class="LVSSearchTreeMenuItem"><%= brend %>
          </label>
        </div>
    <% end %>

   </div>

  <!-- Put car services into separate file or DB.Refactor according to structure -->
  <div class="LVSCarServices">
    <div class="LVSSearchFormHeader">Послуги</div>
    <% @carServices.each do |service| %>
        <div class="checkbox LVSSearchTreeMenuItem">
          <label>
            <input type="checkbox" class="LVSSearchTreeMenuItem"><%= service %>
          </label>
        </div>
    <% end %>

    <div class="LVSSearchTreeMenuItem">
         <label for="LVSCarServicesOtherID">Інше</label>
         <input type="text" class="form-control" id="LVSCarServicesOtherID" placeholder="Put other service type">
    </div>
  </div>

  <!-- Add logic to get price from X to Y -->
  <div class="LVSPriceRange" id="LKSearchFormPriceId">
    <div class="LVSSearchFormHeader"> Ціна </div>

     <div  class="LVSSearchTreeMenuItem">
        <label for="LVSCarServicesPriceFromID">Від</label>
         <input type="text" class="form-control" id="LVSCarServicesPriceFromID" placeholder="Мінімальна ціна">
        <label for="LVSCarServicesPriceToID">До</label>
        <input type="text" class="form-control" id="LVSCarServicesPriceToID" placeholder="Максимальна ціна">
    </div>

    </div>
  <!-- Add logic to get rating feautres -->
  <div  class="LVSRatingRange" id="LKSearchFormRatingId">
    <div class="LVSSearchFormHeader">Рейтинг</div>
    <div  class="LVSSearchTreeMenuItem">
      <label for="LVSCarServicesRatingFromID">Від</label>
      <input type="text" class="form-control" id="LVSCarServicesRatingFromID" placeholder="Мінімальна ціна">
      <label for="LVSCarServicesRatingToID">До</label>
      <input type="text" class="form-control" id="LVSCarServicesRatingToID" placeholder="Максимальна ціна">
    </div>
   </div>
  <button type="submit" class="btn btn-default LVSSearchButton">Шукати</button>
</div>

</form>

<div class="container" style="width:76%;margin-top:20px;font-size:11px;float:left;padding-right: 100px">
  <% @ctos.each_slice(3) do |ctoChunk| %>
      <div class="row" style="margin-right: 10px;clear:both">
        <% ctoChunk.each do |cto| %>
            <div class="col-md-1 panel panel-info" style=" border:2px solid;width:20%;padding:5px;margin:5px;float: left;">

              <div class="panel-heading"><span style="font-weight:bold">Назва:</span><span><%= cto.name %></span> <div>Photo placeholder</div></div>
              <div class="panel-body"><span style="font-weight:bold">Опис:</span>

                <div><%= cto.description %></div>
                <span style="font-weight:bold">Розклад:</span><div><%= cto.schedule %></div>
                <span style="font-weight:bold">Адреса:</span><span><%= cto.address %></span>
                <span style="font-weight:bold">Контакти:</span><div><%= cto.contacts %></div>
                <div style="clear:both;width:100%;text-align:center">

                     <% if can? :read, cto %>
                      <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Редагувати', edit_cto_path(cto), class: 'btn btn-default', style: 'font-size:10px' %></span>
                     <% end %>

                      <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Показати', cto_path(cto), class: 'btn btn-default', style: 'font-size:10px' %></span>

                    <% if can? :destroy, cto %>
                      <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Видалити', cto_path(cto), class: 'btn btn-default',style: 'font-size:10px', method: :delete, data: {confirm: 'Ви впевнені?'} %></span>
                    <% end %>
                    </div>
                </div>
            </div>
           <% end %>
      </div>
  <% end %>

  <%= paginate @ctos %>
</div>