 <span class="LVSCarTypes">
    <%= search_form_for @search do |f| %>
        <span>
          <%= f.label :description_cont, "Марка автомобіля" %>
          <%= f.text_field :description_cont %>
        </span>

        <span>
          <%= f.label :services_description_cont, "Послуга" %>
          <%= f.text_field :services_description_cont %>
        </span>

        <span>
          <!-- If registered then we can enter it's location. Otherwise let's get gps to get into account search resutls. TODO. We need to return to client search results and then javascript will sort them by location -->
          userlocation: <input type="text" name="user location">
        </span>
       <span class="btn btn-default LVSSearchButton"><%=f.submit "Пошук" %></span>
    <% end %>
  </span>

<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-8" id="left">

      <% @ctos.each do |cto| %>

            <div class="panel panel-info">
              <div>

                <div class="panel-heading"><span style="font-weight:bold">Назва:</span><span><%= cto.name %></span>
                  <div>Photo placeholder</div>
                </div>
                <div class="panel-body"><span style="font-weight:bold">Опис:</span>
                  <div><%= cto.description %></div>
                  <div style="font-weight:bold">Адреса:</span><span><%= cto.address %></div>
                  <div style="font-weight:bold">Контакти:</div>

                  <div><%= cto.contacts %></div>
                  <div style="clear:both;width:100%;text-align:center">

                    <% if can? :read, cto %>
                        <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Редагувати', edit_cto_path(cto), class: 'btn btn-default', style: 'font-size:10px' %></span>
                    <% end %>

                    <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Показати', cto_path(cto), class: 'btn btn-default', style: 'font-size:10px' %></span>

                    <% if can? :destroy, cto %>
                        <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Видалити', cto_path(cto), class: 'btn btn-default', style: 'font-size:10px', method: :delete, data: {confirm: 'Ви впевнені?'} %></span>
                    <% end %>

                    <% if can? :read, cto %>
                        <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Продажі', :controller => 'orders', :action => 'index', :cto_id => cto, class: 'btn btn-default', style: 'font-size:10px' %></span>
                    <% end %>
                  </div>
                </div>

                <div id="map_canvas" style="width:50%; height:50%"></div>

              </div>
      <% end %>
      </div>

      <%= paginate @ctos %>

    </div>
  </div>
</div>
</div>


  <div id="map_canvas" style="float:right"></div>
</div>
<script>
    function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
            center: new google.maps.LatLng(44.5403, -78.5463),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP


        }
        var map = new google.maps.Map(map_canvas, map_options)
    }
    google.maps.event.addDomListener(window, 'load', initialize);

</script>



<!--<div class="panel panel-default LVSSearchPanel">-->
  <!--<div class="panel-heading">Пошук Автомобільних сервісів за критеріями</div>-->

  <!--&lt;!&ndash;TODO put car producers into db or separate file &ndash;&gt;-->
</div>
