<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		Listing CTOs
	</div>

	<%= link_to 'New CTO', new_cto_path %>
	<br/>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Address</th>
			<th>Contacts</th>
			<th>Schedule</th>
			<td>Operations</td>
		</tr>

		<% @ctos.each do |cto| %>
		<tr>
			<td><%= cto.name %></td>
			<td><%= cto.description %></td>
			<td><%= cto.address %></td>
			<td><%= cto.contacts %></td>
			<td><%= cto.schedule %></td>
			<td> <%= link_to 'Edit', edit_cto_path(cto) %>
			<br/>
			<%= link_to 'Remove', cto_path(cto),
			method: :delete, data: { confirm: 'Are you sure?' } %> </td>
		</tr>
		<% end %>
	</table>
</div>
