 <span class="LVSCarTypes">
    <%= search_form_for @search do |f| %>
        <span>
          <%= f.label :description_cont, "Марка автомобіля" %>
          <%= f.text_field :description_cont %>
        </span>

        <span>
          <%= f.label :services_description_cont, "Послуга" %>
          <%= f.text_field :services_description_cont %>
        </span>

        <span>
          <!-- If registered then we can enter it's location. Otherwise let's get gps to get into account search resutls. TODO. We need to return to client search results and then javascript will sort them by location -->
          userlocation: <input type="text" name="user location">
        </span>
       <span class="btn btn-default LVSSearchButton"><%=f.submit "Пошук" %></span>
    <% end %>
  </span>

<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-8" id="left">

      <% @ctos.each do |cto| %>
         <div class="panel panel-info">

                <div class="panel-heading"><span style="font-weight:bold">Назва:</span><span><%= cto.name %></span>
                  <div>Photo placeholder</div>
                </div>
                <div class="panel-body"><span style="font-weight:bold">Опис:</span>
                  <div><%= cto.description %></div>
                  <div style="font-weight:bold">Адреса:</span><span><%= cto.address %></div>
                  <div style="font-weight:bold">Контакти:</div>

                  <div><%= cto.contacts %></div>
                  <div style="clear:both;width:100%;text-align:center">

                    <% if can? :read, cto %>
                        <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Редагувати', edit_cto_path(cto), class: 'btn btn-default', style: 'font-size:10px' %></span>
                    <% end %>

                    <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Показати', cto_path(cto), class: 'btn btn-default', style: 'font-size:10px' %></span>

                    <% if can? :destroy, cto %>
                        <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Видалити', cto_path(cto), class: 'btn btn-default', style: 'font-size:10px', method: :delete, data: {confirm: 'Ви впевнені?'} %></span>
                    <% end %>

                    <% if can? :read, cto %>
                        <span style="margin-right:1px;width:32%;font-size:10px"><%= link_to 'Продажі', :controller => 'orders', :action => 'index', :cto_id => cto, class: 'btn btn-default', style: 'font-size:10px' %></span>
                    <% end %>
                  </div>
                </div>
              <div>
           </div>
         </div>
      <% end %>


      <%= paginate @ctos %>

    </div>
  </div>
</div>


 <input type="button" value="Show" onclick="$(this).showRoutes(false);"/>

 <!-- Example of  production configuring of separate location-->

<div style="visibility:hidden;width:1px;height:1px">
 <gmap data="location"  >
        <mapitem data="origin">true</mapitem>
        <mapitem data="address">Івано-Франківськ, Сахарова, 23</mapitem>
        <mapitem data="title">Title1</mapitem>
        <mapitem data="description">This can be sample description</mapitem>
        <mapitem data="lat"> 41.8632355</mapitem>
        <mapitem data="lng">-88.8491994</mapitem>
    </gmap>

 <gmap data="location"  style="visibility:hidden">
        <mapitem data="address">Івано-Франківськ, Вулиця Симона Петлюри, 9а</mapitem>
        <mapitem data="title">Title2</mapitem>
        <mapitem data="description">It's a sample description</mapitem>
        <mapitem data="lat"> 28.231636</mapitem>
        <mapitem data="lng">-82.6990557</mapitem>
  </gmap>
</div>
 <!--<div class="panel panel-default LVSSearchPanel">-->
  <!--<div class="panel-heading">Пошук Автомобільних сервісів за критеріями</div>-->


 <div id="map_canvas" style="width:50%; height:50%">mt</div>