<script type="text/javascript">
    function MapData (addresses,titles,descriptions, lats,lngs){
        this.addresses = addresses;
        this.titles = titles;
        this.descriptions = descriptions;
        this.lats = lats;
        this.lngs = lngs;
    }
    var addresses = [];
    var titles = [];
    var descriptions = [];
    var lats = [];
    var lngs = [];

    <% @ctos.each do |cto| %>
        addresses.push("<%=cto.address%>");
        titles.push("<%=cto.name%>");
        titles.push("<%=cto.description%>");
        lats.push("<%=cto.latitude%>");
        lngs.push("<%=cto.longitude%>");
    <% end %>


     mapData = new MapData(addresses, titles, descriptions, lats, lngs);
    //$(this).showRoutes(false,mapData);
</script>


<!--Form should perform a search according to distance and schedule.Let it be until schedule will not be implemented.TODO refactor search -->

   <!--Let's build custom search form -->
<div style="padding:5px">
  <%= form_tag({:controller=>'ctos', :action=>'index',:method=> 'get'},{:class =>'navbar-form navbar-left',:role => 'search'}) do%>
    <div class="form-group">

        <span>
          <%= label_tag(:requestDate, "Дата запису") %>
          <%= text_field_tag(:requestDate,@searchDate)%>
         </span>

        <span>
          <%= label_tag(:requestTime, "Дата запису") %>
          <!--Let's iterate over time to create time options -->
          <%= select_tag(:requestTime, options_for_select(@timeStorage,@selectedTime)) %>
        </span>

      </div>
       <span><%= submit_tag("Search", :class=>"btn btn-default") %></span>
    <% end %>
</div>

<div style="text-align: center">
  <%= paginate @ctos %>
</div>

<div class="container" id="main" style="float:left">
    <% @ctos.each_slice(3) do |ctoChunk|%>
         <div class="row" style="margin:30px;height:200px">
             <% ctoChunk.each do |cto| %>
              <div class="col-md-4 panel panel-primary">
               <div class="panel-heading"><h3 class="panel-title"><%= cto.name %></h3></div>
                <div class="panel-body">
                  <div style="font-weight:bold">Адреса:<%= cto.address %></div>
                  <div style="font-weight:bold">Контакти:<%= cto.contacts %></div>
                </div>
                <div style="clear:both;width:100%;text-align:right" class="panel-footer">
                  <span style="margin-right:1px;width:32%;font-size:10px;text-align:right"><%= link_to 'Записатися', new_cto_order_path(cto), class: 'btn btn-default', style: 'font-size:10px' %></span><span style="margin-right:1px;width:32%;font-size:10px;text-align:right"><%= link_to 'Про компанію', cto_path(cto), class: 'btn btn-default', style: 'font-size:10px' %></span>
                </div>
                </div>
              <% end %>
         </div>
      <hr>
    <% end %>
 </div>


  <div id="route_map" style="display:none;position:absolute">
    <div id="map_canvas" style="width:400px;height:400px"></div>
  </div>

<script type="text/javascript">
    $("#requestDate" ).datepicker();
    $("#requestDate" ).datepicker( "option", "dateFormat","dd-mm-yy" );
    $("#requestDate" ).datepicker('setDate', '<%=@searchDate%>');
</script>