<div style="padding:5px">
  <%= form_tag({:controller=>'ctos', :action=>'index',:method=> 'post'},{:class =>'well form-inline',:role => 'search'}) do%>
    <div class="form-group">
      <span><%=raw t('.myCurrentLocation')%> <%= text_field_tag(:myLocation, @currentLocation) %></span>
      В радіусі, км<%= text_field_tag(:radius, @currentRadius,:type=>"number") %>
      &nbsp;<%= submit_tag("Пошук", :class=>"btn btn-default") %></span>
    </div>
    <% end %>
</div>

<br/>
<div class="container" id="main" style="float:left;width:100%">
  <div style="text-align: center">
    <%= paginate @ctos %>
  </div>

  <% @ctos.each_slice(3) do |ctoChunk|%>
         <div class="row">
             <% ctoChunk.each do |cto| %>
               <div class="col-md-4">
                 <div class="panel panel-primary">
                   <div class="panel-heading"><h3 class="panel-title"><%= cto.name %></h3></div>
                   <div class="panel-body">
                     <div><%= raw t('.address', address: cto.address) %></div>
                     <div><%= raw t('.contacts', contacts: cto.contacts) %></div>

                     <% if cto.has_attribute?("distance") %>
                         <div><%= raw t('.distance', distance: cto.distance)%></div>
                     <% end %>
                   </div>
                   <div class="panel-footer" style="text-align: right"></div>
                 </div>
               </div>
              <% end %>
         </div>
    <% end %>

  <div style="text-align: center">
    <%= paginate @ctos %>
  </div>
 </div>

<!--Check mapDraft file for routing -->
