<div >
	<!-- Default panel contents -->
	<div >
		Listing CTOs
	</div>

	<%= link_to 'New CTO', new_cto_path %>
	<br/>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-1">
      Name
    </div>
    <div class="col-md-1">
      Description
    </div>
    <div class="col-md-1">
      Address
    </div>
    <div class="col-md-1">
      Contacts
    </div>
    <div class="col-md-1">
      Schedule
    </div>
    <div class="col-md-3">
      Operations
    </div>
  </div>

  <% @ctos.each do |cto| %>
      <div class="row">
        <div class="col-md-1"><%= cto.name %></div>
        <div class="col-md-1"><%= cto.description %></div>
        <div class="col-md-1"><%= cto.address %></div>
        <div class="col-md-1"><%= cto.contacts %></div>
        <div class="col-md-1"><%= cto.schedule %></div>
        <div class="col-md-3">
          <%= link_to 'Edit', edit_cto_path(cto) %> <%= link_to 'Show', cto_path(cto)%> <%= link_to 'Remove', cto_path(cto),
                      method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
  <% end %>
</div>

