<!--Form should perform a search according to distance and schedule.Let it be until schedule will not be implemented.TODO refactor search -->

   <!--Let's build custom search form -->
<div style="padding:5px">
  <%= form_tag({:controller=>'ctos', :action=>'index',:method=> 'post'},{:class =>'well form-inline',:role => 'search'}) do%>
    <div class="form-group">
      <span>Моє поточне місцезнаходження <%= text_field_tag(:myLocation) %></span>
      В радіусі, км<%= text_field_tag(:radius) %>
      <!--Якщо значення вказане в полі то визначаємо а якщо не вказане то пробуємо автоматично визначити через GPS -->
       <span>GPS<input type="checkbox" id="iseGPS" >&nbsp;<%= submit_tag("Пошук", :class=>"btn btn-default") %></span>
    </div>
    <% end %>
</div>

<br/>
<div class="container" id="main" style="float:left;width:100%">
  <div style="text-align: center">
    <%= paginate @ctos %>
  </div>

  <% @ctos.each_slice(3) do |ctoChunk|%>
         <div class="row">
             <% ctoChunk.each do |cto| %>
               <div class="col-md-4">
                 <div class="panel panel-primary">
                   <div class="panel-heading"><h3 class="panel-title"><%= cto.name %></h3></div>
                   <div class="panel-body">
                     <div><%= raw t('.address', address: cto.address) %></div>
                     <div><%= raw t('.contacts', contacts: cto.contacts) %></div>


                     <% if cto.has_attribute?("distance") %>
                     <div>Відстань:<%= cto.distance%> км</div>
                     <% end %>
                   </div>
                 </div>
               </div>
              <% end %>
         </div>
    <% end %>


  <div style="text-align: center">
    <%= paginate @ctos %>
  </div>

 </div>



<script type="text/javascript">
    function getUserLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
    function showPosition(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        document.getElementById("myLocation").value=lat+'  '+lng
    }
</script>