<p>
  <strong>Name:</strong>
  <%= @cto.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @cto.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cto.address %>
</p>


<p>
  <strong>Contacts:</strong>
  <%= @cto.contacts %>
</p>


<p>
  <strong>Schedule:</strong>
  <%= @cto.schedule %>
</p>